development:
  server: 'http://127.0.0.1:5984'
  database: orcid_taxonomist

test:
  server: 'http://127.0.0.1:5984'
  database: orcid_taxonomist

production:
  server: 'http://127.0.0.1:5984'
  database: orcid_taxonomist
